@page
@model Frontend.Pages.Venta.Detalle.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalleVenta[0].Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleVenta[0].FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleVenta[0].Subtotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DetalleVenta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdDetalleVenta">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdDetalleVenta">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdDetalleVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
