@page
@model Frontend.Pages.Usuario.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].cantidadDeIntentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadDeIntentos)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idUsuario">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.idUsuario">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.idUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
