@page
@model Frontend.Pages.Venta.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Subtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Subtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Igv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Igv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Venta.idVenta">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
