@model BrickPlasWebMVC.ViewModel.ShopViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tienda Brickplas";
}
<div class="main">
    <section class="module bg-dark-60 shop-page-header" data-background="/Home/assets/images/shop/eco-house.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Comprar Productos</h2>
                    <div class="module-subtitle font-serif">Aqui podras conseguir nuestros productos al mejor precio y con el asesoramiento de nuestro equipo.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="module-small">
        <div class="container">
            <form class="row">
                <div class="col-sm-4 mb-sm-20">
                    <select class="form-control">
                        <option selected="selected">Ordenar</option>
                        <option>Populares</option>
                        <option>Mas caros</option>
                        <option>Mas baratos</option>
                    </select>
                </div>
                <div class="col-sm-2 mb-sm-20">
                    <select class="form-control">
                        <option selected="selected">Categorias</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option>@category.Description</option>
                        }

                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-block btn-round btn-g" type="submit">Aplicar</button>
                </div>
            </form>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row multi-columns-row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="shop-item">
                            <div class="shop-item-image">
                                <img src="~/Home/@product.Urlmage" alt="@product.Name" />
                                <div class="shop-item-detail"><a class="btn btn-round btn-b" @Url.Action("AgregarAlCarrito", "Shop", new { id = @product.Id })><span class="icon-basket">Agrega al carrito</span></a></div>
                            </div>
                            @* <h4 class="shop-item-title font-alt"><a asp-action="Item" id="@product.Id">@product.Name</a></h4>$ @product.Price *@
                            <h4 class="shop-item-title font-alt"><a href="@Url.Action("Item", "Shop", new { id = @product.Id })">@product.Name</a></h4>$ @product.Price
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
        </div>
    </section>
