@model BrickPlasWebMVC.ViewModel.ItemViewModel
@{
    Layout = "_Layout";

}
<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-sm-40">
                    <a class="gallery" href="~/Home/@Model.product.Urlmage"><img src="~/Home/@Model.product.Urlmage" alt="Single Product Image" /></a>
                    <ul class="product-gallery">
                        <li><a class="gallery" href="~/Home/@Model.product.Urlmage"></a><img src="~/Home/@Model.product.Urlmage" alt="Single Product" /></li>
                        <li><a class="gallery" href="~/Home/@Model.product.Urlmage"></a><img src="~/Home/@Model.product.Urlmage" alt="Single Product" /></li>
                        <li><a class="gallery" href="~/Home/@Model.product.Urlmage"></a><img src="~/Home/@Model.product.Urlmage" alt="Single Product" /></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                                <h1 class="product-title font-alt" id="Name" name="Name">@Model.product.Name</h1>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span><a class="open-tab section-scroll" href="#reviews">-2customer reviews</a>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                                <div class="price font-alt" id="Price" name="Price"><span class="amount">$@Model.product.Price</span></div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="description">
                                <p>@Model.product.Details</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-4 mb-sm-20">
                            <input class="form-control input-lg" 
                                   type="number" 
                                   id="Quantity" 
                                   name=" Quantity" 
                                   value="1" 
                                   max="40" 
                                   min="1" 
                                   required="required"
                                   onchange="SetQty()" />
                        </div>
                        <div class="col-sm-8">
                            <form method="post" action="@Url.Action("AgregarAlCarrito", "Shop")">
                                <input type="hidden" id="prodQty" name="prodQty" value="1" />
                                <input type="hidden" id="prodID" name="prodID" value="@Model.product.Id" />
                                <button type="submit" class="btn btn-lg btn-block btn-round btn-b">Add To Cart</button>
                            </form>
                        </div>
                        <div class="row mb-20">
                            <div class="col-sm-12">
                                <div class="product_meta">
                                    Categories:<a href="#"> Man, </a><a href="#">Clothing, </a><a href="#">T-shirts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <li class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2"></span>Description</a></li>
                        <li><a href="#data-sheet" data-toggle="tab"><span class="icon-tools-2"></span>Data sheet</a></li>
                        <li><a href="#reviews" data-toggle="tab"><span class="icon-tools-2"></span>Reviews (2)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                            @Model.product.Details
                        </div>
                        <div class="tab-pane" id="data-sheet">
                            <table class="table table-striped ds-table table-responsive">
                                <tbody>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Info</th>
                                    </tr>
                                    <tr>
                                        <td>Tamaño</td>
                                        <td>@Model.product.Size</td>
                                    </tr>
                                    <tr>
                                        <td>Peso</td>
                                        <td>@Model.product.Weigth</td>
                                    </tr>
                                    <tr>
                                        <td>Precio</td>
                                        <td>@Model.product.Price</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
 </div>

                    <script>
                        function SetQty() {
                            var quantity = document.getElementById("Quantity").value;
                            document.getElementById("prodQty").value = quantity;
                        }
                    </script>
